.clickable-row {
  cursor: pointer;
}

.clickable-row:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 2px;
  transform: scale(1);
}

.sort-btn {
  transition: transform 150ms ease;
}

.sort-btn.desc {
  transform: rotate(180deg);
}


