<div class="container">
  <div class="row">
    <h2>Dodaj nowe urządzenie do bazy danych</h2>
  </div>
  <button
    type="button"
    class="btn btn-secondary return-button"
    (click)="navigateToDevicesList()"
  >
    Powrót
  </button>
  <div class="parameters">
    <form [formGroup]="deviceForm">
      <h3>Parametry</h3>
      <h4>Urządzenie</h4>
      <div class="row">
        <div class="mb-3 row alig-items-center">
          <label for="identificationNumber" class="col-sm-3 col-form-label"
            >Numer identyfikacyjny urządzenia</label
          >
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              id="identificationNumber"
              formControlName="identificationNumber"
            />
            <div *ngIf="shouldShowError('identificationNumber')" class="error">
              {{ fieldRequired }}
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="productionDate" class="col-sm-3 col-form-label"
            >Data produkcji</label
          >
          <div class="col-sm-9">
            <input
              type="date"
              class="form-control"
              id="productionDate"
              formControlName="productionDate"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="lastCalibrationDate" class="col-sm-3 col-form-label"
            >Data ostatniej kalibracji</label
          >
          <div class="col-sm-9">
            <input
              type="date"
              class="form-control"
              id="lastCalibrationDate"
              formControlName="lastCalibrationDate"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="calibrationPeriod" class="col-sm-3 col-form-label"
            >Okres wzorcowania [lata]</label
          >
          <div class="col-sm-9">
            <input
              type="number"
              class="form-control"
              id="calibrationPeriod"
              formControlName="calibrationPeriodInYears"
              min="1"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="nextCalibrationDate" class="col-sm-3 col-form-label"
            >Data najbliższej kalibracji</label
          >
          <div class="col-sm-9">
            <input
              type="date"
              class="form-control"
              id="nextCalibrationDate"
              formControlName="nextCalibrationDate"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="storageLocation" class="col-sm-3 col-form-label"
            >Miejsce przechowywania</label
          >
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              id="storageLocation"
              formControlName="storageLocation"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="devicesDocuments" class="form-label"
            >Dokumenty urządzenia</label
          >
          <input
            formControlName="documents"
            class="form-control"
            type="file"
            id="devicesDocuments"
            multiple
            accept=".pdf, .txt, .jpg, .png, .doc, .docx, .csv"
            (change)="onDeviceFileChange($event)"
          />
          <div id="devicesDocumentsHelpBlock" class="form-text">
            Dokuemnty dotyczące urządzenia w formacie .pdf, .csv, .jpg (np.
            faktura, raport kalibracji, karta gwarancyjna)
          </div>
        </div>
      </div>
      <h4>Model</h4>
      <div class="alert alert-info" role="alert">
        <b>&#9432;</b> Dodając nowe urządzenie, możesz wybrać dla niego
        istniejący model z listy podpowiedzi. W takim przypadku zostaną dla
        niego podstawione wszystkie aktualne dane. Dane danego modelu możesz
        zmienić na ekranie edycji urządzenia.
      </div>
      <div formGroupName="model">
        <button
          class="btn btn-warning"
          *ngIf="modelSelected"
          (click)="resetModelSelection()"
        >
          Resetuj podstawienie
        </button>
        <div class="mb-3 row">
          <label for="name" class="col-sm-3 col-form-label">Nazwa modelu</label>
          <div class="col-sm-9">
            <input
              [ngbTypeahead]="searchModelName"
              (selectItem)="onModelNameSelect($event)"
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
              placeholder="Wpisz nazwę lub wybierz z listy proponowanych po rozpoczęciu wpisywania"
              [attr.disabled]="modelNameInputDisabled"
            />
            <div *ngIf="shouldShowError('model.name')" class="error">
              {{ fieldRequired }}
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="serialNumber" class="col-sm-3 col-form-label"
            >Numer seryjny</label
          >
          <div class="col-sm-9">
            <input
              [ngbTypeahead]="serchModelSerialNumber"
              placeholder="Wpisz numer lub wybierz z listy proponowanych po rozpoczęciu wpisywania"
              (selectItem)="onModelSerialNumberSelect($event)"
              type="text"
              class="form-control"
              id="serialNumber"
              formControlName="serialNumber"
            />
            <div *ngIf="shouldShowError('model.serialNumber')" class="error">
              {{ fieldRequired }}
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="company" class="col-sm-3 col-form-label">Producent</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              id="company"
              formControlName="companyName"
            />
          </div>
        </div>
        <h5>Wartości mierzone</h5>
        <div formArrayName="measuredValues">
          <div
            *ngFor="let measuredValue of measuredValues.controls; let i = index"
          >
            <div [formGroupName]="i" class="mb-3 measured-value">
              <div class="row mb-3">
                <label
                  [for]="'physicalMagnitudeName-' + i"
                  class="col-sm-1 col-form-label"
                  >Nazwa</label
                >
                <div class="col-sm-4">
                  <input
                    [attr.id]="'physicalMagnitudeName-' + i"
                    type="text"
                    class="form-control"
                    formControlName="physicalMagnitudeName"
                    required
                  />
                  <div
                    *ngIf="shouldShowErrorById('physicalMagnitudeName-' + i)"
                    class="error"
                  >
                    {{ fieldRequired }}
                  </div>
                </div>
                <label
                  [for]="'physicalMagnitudeUnit-' + i"
                  class="col-sm-2 col-form-label"
                  >Jednostka</label
                >
                <div class="col-sm-3">
                  <input
                    [attr.id]="'physicalMagnitudeUnit-' + i"
                    type="text"
                    class="form-control"
                    formControlName="physicalMagnitudeUnit"
                  />
                </div>

                <button
                  (click)="removeMeasuredValue(i)"
                  class="col-sm-2 btn btn-danger"
                >
                  Usuń wartość mierzoną
                </button>
              </div>

              <div formArrayName="ranges">
                <div
                  *ngFor="
                    let range of measuredValueRanges(i).controls;
                    let j = index
                  "
                >
                  <div [formGroupName]="j" class="mb-3">
                    <div class="row">
                      <label
                        [for]="'range-' + i + '-' + j"
                        class="col-sm-1 col-form-label"
                        >Zakres</label
                      >
                      <div class="col-sm-4">
                        <input
                          [attr.id]="'range-' + i + '-' + j"
                          type="text"
                          class="form-control col-sm-5"
                          formControlName="range"
                        />
                      </div>

                      <label
                        [for]="'accuracy-' + i + '-' + j"
                        class="col-sm-2 col-form-label"
                        >Dokładność w procentach</label
                      >
                      <div class="col-sm-3">
                        <input
                          [attr.id]="'accuracy-' + i + '-' + j"
                          type="text"
                          class="form-control col-sm-5"
                          formControlName="accuracy"
                          min="0"
                          appPercentageDirective
                        />
                        <div
                          *ngIf="shouldShowErrorById('accuracy-' + i + '-' + j)"
                          class="error"
                        >
                          Wartość pola musi być z zakresu 0-100
                        </div>
                      </div>
                      <button
                        (click)="removeRangeForMeasuredValue(i, j)"
                        class="col-sm-1 btn btn-danger sml"
                      >
                        -
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <button
                type="button"
                (click)="addRangeForMeasuredValue(i)"
                class="btn btn-success btn-add-mv med mb-4"
              >
                Dodaj zakres
              </button>
            </div>
          </div>
          <button
            type="button"
            (click)="addMeasuredValue()"
            class="btn btn-success btn-add-mv med"
            [disabled]="modelInputsDisabled"
          >
            Dodaj wartość mierzoną
          </button>
        </div>
        <div class="mb-3">
          <label for="modelDocuments" class="form-label"
            >Dokumenty modelu</label
          >
          <input
            formControlName="documents"
            class="form-control"
            type="file"
            id="modelDocuments"
            multiple
            (change)="onModelFileChange($event)"
          />
          <div id="modelDocumentsHelpBlock" class="form-text">
            Dokuemnty dotyczące modelu w formacie .pdf, .csv, .jpg (np.
            instrukcja obsługi)
          </div>
        </div>
      </div>
    </form>
    <div class="related-devices">
      <h3>Urządzenia powiązane</h3>
      <p>
        Wybierz z listy nazwy urządzeń, które chcesz powiązać z dodawanym
        urządzeniem
      </p>
      <p-multiSelect
        [options]="modelNameIds"
        [(ngModel)]="selectedRelatedModelsNames"
        optionLabel="name"
        placeholder="Wybierz nazwy modeli które chcesz powiązać"
        (onChange)="onSelectionChange()"
        [disabled]="modelInputsDisabled"
      />
    </div>
    <div class="d-flex justify-content-end">
      <button type="submit" (click)="onSubmit()" class="btn btn-success mb-3">
        Dodaj urządzenie
      </button>
    </div>
  </div>
</div>
